@import url('https://fonts.googleapis.com/css?family=Numans');

body{
    font-family: 'Numans', sans-serif !important;
}

.bg-body-tertiary{
    background-color:#fff !important;
}

.my-logo{
    max-width: 20%;
}

.nav-link{
    text-transform: uppercase;
}

.active{
    font-weight: bold;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
img{
  object-fit: contain;
}
.my-title{
    overflow-y: hidden;
}

.card-block{
  transition:0.5s;
  cursor:pointer;
  margin-bottom: 15px;
  min-height: 250px;
}
.card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card-block:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:20px;  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-block::before, .card-block::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card-block::before {
  transform-origin: left top;
}
.card-block::after {
  transform-origin: right bottom;
}
.card-block:hover::before, .card-block:hover::after, .card-block:focus::before, .card-block:focus::after {
  transform: scale3d(1, 1, 1);
}